__pycache__
/.vscode
/bot-env
/guilds
/logo
/utils
analytics.json
config.json
log*.txt
patreon_config.json
patreon_data.json
patreon_info.py
patron_auths.json
push.bat
secondaries.txt
venv.bat
/project-env/
/functions.cp37-win_amd64.pyd
/functions.c
/auto_voice_channels.cp37-win_amd64.pyd
/auto_voice_channels.c
